@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*{
    transition: all .5s  ease;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; 
    background-image: linear-gradient(rgba(103,92,83), #fff, rgba(240,150,0),  #fff);
    background-color: darkgrey;
    height: 5500px;
}

@media (min-width: 800px){
    body{
        height: 5500px;
    }
}
p{
    font-size: 1.6rem;
}
.progress-container {
  /* transform: rotate(90deg); */
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ccc;
}
.progress-bar {
  height: 8px;
  background: #e7772b;
  width: 0%;
}
.prompt{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    border-radius: 10px;
}
aside{
    position: relative;
    top: 80vh;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -14px;
    text-align: center;
    margin-top: 4rem;
}
.text {
  position: absolute;
  top: 5em;
  margin-left: -66px;
  font-size: 12px;
  color: #e7772b;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .3;
  animation: pulse 1.5s  linear alternate infinite;
}
@keyframes pulse {
    to{
        opacity: 1;
        transform: scale3d(1.5,1.5,1.5);
    }
}
.pijltje{
    position: absolute;
    top: 0;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: scroll 3s ease-out infinite;
}
.pijltje:first-child {
    animation-delay: 1s;
}
.pijltje:nth-child(2) {
    animation-delay: 2s;
}
.pijltje:before,
.pijltje:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background-color: #e7772b;
}
.pijltje:before{
    left: 0;
    transform: skew(0deg, 30deg);
}
.pijltje:after{
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes scroll{
    25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.container{
    margin-top: 4rem;
}
.container-2{
    display: block;
    margin: auto;

}
@media (min-width: 750px){
    .container-2{
        display: block;
        position: absolute;
        bottom: 7em;
        left: 50%;
        margin-left: -180px;        
    }
}
.titel {
  color:rgba(240,150,0, 0);
  font-size: 0;
  line-height: 1;
  text-align: center;
}
div > div > span {
    font-weight: 500;
    font-size: 80px;
    display: inline-block;
    animation: move 2.5s ease-in-out infinite;
    
}
@media (min-width: 62em) {
   div > div > span {
        font-size: 120px;
    }
}
/*===Delay voor de verschillende letters===*/
/*===Eerste letter heeft geen delay nodig==*/

span:nth-child(2) { animation-delay: 0.5s; } 
span:nth-child(3) { animation-delay: 1.0s; }
span:nth-child(4) { animation-delay: 1.5s; }
span:nth-child(5) { animation-delay: 2.0s; }
/*===Animatie value's voor move===*/
@keyframes move {
    0% {
    color: rgba(103,92,83, .5);
    transform: translate(-33%, 0);
  }
  50% {
    opacity: 0.5;
    color: #FFF;
    text-shadow: 0 15px 40px rgba(103,92,83,.3);
  }
  100% {
    color: rgba(103,92,83, 0.1);
    transform: translate(33%, 0);
  }
}
div >p{
    max-width: 70rem;
    padding: 1em;
    margin: 1.5em;
    transition: opacity .80s ease-in-out;
/*    background-color: rgba(255,255,255,0.4);*/
}
p.start{
    /* background-color: #D6CEC6; */
    animation: fadein 4s ease infinite alternate;
}
div > p > span > span{
    animation: pulse 3s ease-in-out infinite alternate;
}

@keyframes fadein{
    from{
        /* background-image: radial-gradient( rgba(44,44,44, 0.8), #D6CEC6); */
        opacity: 0.2;
    }
    to{ 
        /* background-image: linear-gradient( 70deg, rgba(250,80,10, 0.3), #D6CEC6); */
        opacity: 1;
        color: #fff;
    }
}
@media only screen and (min-width:700px){
    div > p{
        max-width: 40em;
        position: fixed;
        top: 1.5em;
        left: 50%;
        margin-left:-20em;
    }
}
@media only screen and (min-width: 500px){
#tweede, #eerste{
    top: 5em;
}
}
@media (min-width: 770px){
    #derde{
        max-width: 50em;
        margin-left: -25em;
       
    }
}
@media only screen and (min-width: 500px){
    #vierde{
        top: 8em;
    }
}
.verstop{
    opacity: 0;
}

#vierde{
    margin-bottom: 15rem;
}
footer#verhaal{
    z-index: 99;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
/* footer button{
    font-size: 1.6rem;
    font-weight: 700;
    border-style: none;
    text-indent: -999px;
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #E7772B;
    box-shadow: 0 8px 18px rgba(231, 119, 43, .3);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */

footer button:last-of-type:before {
        overflow: hidden;
        position: absolute;
        display: inline;
        content: "";
        top: -2rem;
        right: 0;
        opacity: 1;
        transform: rotate(30deg);
        background-image: url(/img/icon/button/Bewaar-idealState.svg);
        background-repeat: no-repeat;
        transition: all 1.3s cubic-bezier(0.1, -0.6, 0.23, 2.87), opacity 1.8s .8s ease-in-out;    
}
div.drip-container{
    position: absolute;
    width:100%;
    display: flex;
    justify-content: space-around;
}
div.drip{
    display: inline-block;
    top: 50%;
    left: 25%;
    margin-right: 5px;
    width: 5px;
    height: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: fall 2.8s  infinite;
}
.drip:nth-child(1) {
    animation-delay: 2.3s;
}
.drip:nth-child(2) {
    animation-delay: 1.5s;
}
.drip:nth-child(3){
    animation-delay: 1.6s;
   }
.drip:nth-child(4){
    animation-delay: .1s;
   }
.drip:nth-child(5){
    animation-delay: .81s;
   }
.drip:nth-child(6){
 animation-delay: .41s;
}
.drip:nth-child(7){
    animation-delay: .31s;
   }
.drip:nth-child(8){
    animation-delay: 2.1s;
   }
.drip:nth-child(9){
    animation-delay: .43s;
   }
.drip:nth-child(10){

animation-delay: 1.5s;
}
.drip:nth-child(11){
    animation-delay: 2.231s;
   }
.drip:nth-child(12){
 animation-delay: 1.2s;
}
.drip:nth-child(13){
    animation-delay: 1.561s;
   }
.drip:nth-child(14){
    animation-delay: 3.41s;
   }
.drip:nth-child(15){
    animation-delay: 2.71s;
   }
.drip:nth-child(16){
    animation-delay: 1.21s;
   }
.drip:nth-child(17){
    animation-delay: .61s;
   }
.drip:nth-child(18){
 animation-delay: 1.3s;
}
.drip:nth-child(19){
    animation-delay: .71s;
   }
.drip:nth-child(20){
    animation-delay: .8991s;
   }
.drip:nth-child(21){
    animation-delay: .121s;
   }
.drip:nth-child(22){
    animation-delay: 1.41s;
   }
.drip:nth-child(23){
    animation-delay: 2.1s;
   }
.drip:nth-child(24){
 animation-delay: 1.5s;
}
.drip:nth-child(25){
    animation-delay: 4.1s;
   }
.drip:nth-child(26){
    animation-delay: .7551s;
   }
.drip:nth-child(27){
    animation-delay: 1.91s;
   }
.drip:nth-child(28){
    animation-delay: 2.21s;
   }
.drip:nth-child(29){
    animation-delay: 1s;
   }
.drip:nth-child(30){
 animation-delay: 1.5s;
}
.drip:nth-child(31){
    animation-delay: .12s;
   }
.drip:nth-child(32){
    animation-delay: 1.5s;
   }
.drip:nth-child(33){
    animation-delay: 1.55s;
   }
.drip:nth-child(34){
    animation-delay: 1.66s;
   }
.drip:nth-child(35){
    animation-delay: 1.23s;
}
@keyframes fall{
    0%{
        height: 2px;
        opacity: 0.8;
        transform: scale(.5);
        background-color: #f1f1f1;
    }
    60%{
        height: 16px;
        opacity: 0.5;
        transform: translateY(60em) scale(.7);
    }
    90%{
        transform: translateY(99.9em);
        width: 0.1em;
        opacity: 0.4;
    }
    100%{
        height: 3px;
        width: 16px;
        opacity: 0.6;
        transform: translateY(99em) scale(2);
        background-color: rgba(0,0,0, 0);
        border: 1px solid #fff;
        
    }
}
div[class*="bol-"]{
    z-index: -1;
    position: absolute;
    background-image: radial-gradient(rgba(240,150,0, .8), #D6CEC6);
    border-radius: 50%;    
}

@keyframes pulse {
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0.2;
    }
}
    
