@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    max-width: 100vw;
}

body {
    position: relative;
    font-size: 16px;
    line-height: 2.2em;
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #fcd900;
    box-sizing: border-box;
    padding-top: 39px;
}

section {

    background-color: #FFFFFF;
}

section:nth-of-type(2) {
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 1.5rem;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

@media (min-width: 48rem) {

    section:first-of-type,
    section:nth-of-type(2) {
        min-width: 62rem;
        max-width: 75rem;
        margin: auto;
        border-radius: 10px;
        
    }
}

@media (min-width: 62rem) {

    section:first-of-type,
    section:nth-of-type(2) {
        max-width: 97rem;

    }
}

@media (min-width: 75rem) {

    section:first-of-type,
    section:nth-of-type(2) {
        max-width: 114rem;
    }
}

.geel {
    position: relative;
    width: 100%;
    background-color: #fcd900;
    min-height: 210px;
    overflow: hidden;
}

.background-image {
    position: absolute;
    left: 70%;
    top: 20px;
    overflow: hidden;
}

body > section:first-of-type {
    background-color: #fcd900;
}

h1 {
    box-sizing: border-box;
    font-size: 2.2rem;
    margin: 0;
    padding: 0.83em;
    padding-top: 30px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

h2 {
    font-size: 20px;
    margin: 0 1.5rem;
    padding: 0;
    padding-top: 0.83em;
    padding-bottom: 2rem;
    transition: all .4s ease-in;
    display: block;
    margin-left: 1.5rem;

}

@media (min-width: 48rem) {
    h2 {
        font-size: 3rem;
        margin-left: 4rem;
    }
}



h3 {
    margin: 0;
    padding: 1.5rem 1.5rem;
}

@media (min-width: 62rem) {
    h3 {
        font-size: 2.4rem;
    }
}

#zoektitel {
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0px 1.5rem;
    padding-top: 30px;
    color: #e7772b;
    transition: all .4s ease-in;
}

@media (min-width: 48em) {
    #zoektitel {
        font-size: 1.8rem;
        padding-left: 4rem;
    }
}

h5 {
    padding: 0 1.5em;
}

/*======HEADER======*/

#top {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: #afa9a2 1px solid;
    background-color: #675c53;
    display: flex;
    justify-content: flex-end;
    max-height: 39px;
    align-items: center;
    z-index: 999;
    transition: .35s ease-in-out;
}
nav{
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    
}
@media (min-width: 48em){
    nav{
        max-width: 75rem;
    }
}
@media (min-width: 62em){
    nav{
        max-width: 97rem;
    }
}
@media (min-width: 75em){
    nav{
        max-width: 114rem;
    }
}
.bewaren::after {
    content: '';
    position: absolute;
    background-image: url(./img/icon/button/Bewaar-idealState.svg);
    background-repeat: no-repeat;
    opacity: 0;
    top: 5em;
    right: 2em;
    width: 3rem;
    height: 3rem;
    animation: bewaren 2.8s .5s;
}

@keyframes bewaren {
    0% {
        top: 20em;
        right: 12em;
        opacity: 1;
    }

    50% {
        opacity: .8;
    }

    70% {
        opacity: .5;
    }

    100% {
        transform: rotateZ(60deg) translate(2em, 2em);
        opacity: 0;
    }
}

/*afbeeldingen in de Header*/

header > nav >a  img {
    margin-top: 0.5em;
}

body > header {
    position: relative;
}

button.login {
    position: absolute;
    right: 1.5rem;
    top: 2px;
    margin-top: .8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-style: none;
    background-color: #675c53;
    background-image: url(img/icon/user_1.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    color: transparent;
    border-color: transparent;
    align-self: right;
}

@media (min-width: 48em) {
    button.login {
        right: 0;
        height: 2rem;
        width: 2rem;
        background-size: 20px 20px;
    }

}
button.login:hover {
    cursor: pointer;
}

header > nav > div:first-of-type {
    position: absolute;
    right: -2rem;
    opacity: 0;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
    transition: all 1s ease-in-out;
}

div.added:first-of-type {
    line-height: 1.3;
    border-radius: 50%;
    background-color: #e7772b;
    width: 12px;
    height: 12px;
    font-size: .9rem;
    top: .5rem;
    right: 1.5rem;
    opacity: 1;

}

/*===Einde Header===*/
/*== Lijsteje login ==*/
body > header  ul {
    position: absolute;
    right: 1.5rem;
    list-style: none;
    transform: translateY(-10em);
    transition: all .4s ease-in-out;
    background-color: #675c53;
}
@media (min-width: 48em){
    header > nav > ul{
        right: 0;
    }
}
.display {
    transform: translateY(2.3em);
    z-index: 0;
}

body > header  ul > li {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: right;
    color: #fff;
    position: relative;

}

body > header  ul > li:nth-child(1)::after,
body > header  ul > li:nth-child(2)::after,
body > header  ul > li:nth-child(3)::after {
    display: block;
    content: "";
    width: 80%;
    border-bottom: 1px solid #fff;
    margin: auto;
}
a {
    text-decoration: none;
}
body > header  ul > li > a {

    color: #fff;
}
a > p {
    display: inline;
}

/*======Willekeurig verhaal===== */

div > a {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #675C53;
    text-decoration: none;
}

@media (min-width: 62rem) {
    div > a {
        font-size: 1.792rem
    }
}

div.random {
    line-height: 1.15;
    padding-bottom: 1rem;
    background-color: rgba(248, 248, 247, .50);
    margin: auto;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
    border-bottom-right-radius: 10px;
    background-image: url(img/icon/arrow/right.svg);
    background-position: 18em;
    background-repeat: no-repeat;

}

@media (min-width: 48rem) {
    div.random {
        border-bottom-left-radius: 10px;
        margin-right: auto;
        margin-left: 19%;
        max-width: 33rem;
    }
}

section > a > img {
    padding-left: 10px;
}

body > section > h3 {
    margin: 0;
    background-color: #fcd900;
}

section > label:last-of-type {
    box-sizing: border-box;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    background-color: #FFFFFF;
    border-bottom-right-radius: 10px;
    padding-bottom: 2rem;
    cursor: pointer;
}

@media (min-width: 48em) {
    section > label:last-of-type {
        max-width: 75rem;
        border-bottom-left-radius: 10px;
    }
}

@media only screen and (min-width: 62rem) {
    section > label:last-of-type {
        display: none;
    }
}

/*========ZOEK FORMULIER========*/

form:first-of-type {
    z-index: 3;
    padding-top: 1.5rem;
    background-color: #fefaf1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 1.5rem;
    transition: all .8s ease-in-out;
}

@media only screen and (min-width: 62rem) {
    form:first-of-type {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 4rem;
        max-width: 97rem;
    }
}
@media (min-width: 75rem){
    form:first-of-type {
        max-width: 114rem;
    }
}
form.index {
    z-index: 1;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 20em;
    left: 5em;
    transition: all .4s ease-in;
    margin: 0;
}

@media only screen and (min-width: 62rem) {
    body > form {
        max-width: 72rem;

    }

    form.index {
        position: static;
        display: flex;
        overflow: visible;
        z-index: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    form > header > h5 {
        display: none;
    }

    fieldset#leestijd {
        padding-left: 1.5rem;
    }
}

form legend {
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 700;
}

form > fieldset:nth-of-type(2) > legend {
    margin-bottom: 3rem;
}

form fieldset:nth-of-type(2) > label {
    display: none;
}

form fieldset {
    padding: 0;
    border-style: none;
    margin: 0;
    padding: 0 1.5rem;
}
@media (min-width: 62rem){
    form:first-of-type fieldset{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
form > fieldset:first-of-type {
    padding-right: 4rem;
}

@media (min-width: 62em) {
    form > fieldset:nth-of-type(2) {
        border-left: rgb(241, 241, 241) 1px solid;
    }
}

form input[type=checkbox]:focus + label {
    box-shadow: 0 8px 18px rgba(231, 119, 43, .3);
}

#leestijd {
    margin-bottom: 1.5em;
    padding: 0;
}

form.index fieldset:nth-child(2) label {
    visibility: hidden;
}

input:checked + label {
    transition: background-color .2s;
    background-color: #F1F1F1;
}

input:checked + label::before {
    border-color: #E7772B;
    background-image: url(img/icon/vink.svg);
    background-repeat: no-repeat;
    background-position: center;
}

form:first-of-type fieldset:last-of-type {
    width: 100%;
}

/* heb je nodig want fieldset kan niet flexxen*/

.flex-container {
    display: flex;
    flex-direction: row;

}


/* Linker lijstje*/

.sfeer-1 {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 40%;
    flex-direction: column;
}


/* rechter lijstje*/

.sfeer-2 {
    margin-left: 10px;
    padding: 0;
    display: flex;
    max-width: 40%;
    flex-direction: column;
}

@media only screen and (min-width: 62rem) {

    .sfeer-1,
    .sfeer-2 {
        
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }

}


/*Checkboxes*/
form:first-of-type label {

    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    border: solid 1px #F1F1F1;
    border-radius: 10px;
    padding: 1.1rem 0;
    min-width: 12rem;
    max-width: 35rem;

}

@media (min-width: 48rem) {
    form label {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 62rem) {
    form:first-of-type label{
        margin-right: 1.5rem;
    }
}
/* Maakt het vierkantje voor het label */
form:first-of-type input[type=checkbox] + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #8D857E;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 13px;
}

/*Zet de orginele checkbox ergens buiten het zicht */
.check {
    position: absolute;
    left: -9999px;
}

#leestijd {
    margin-left: 1.5rem;
}

@media only screen and (min-width: 50rem) {
    #leestijd {
        margin-left: 2em;
    }
}

/*====Micro voor index form====*/
section:nth-of-type(2) > button:first-of-type {
    position: relative;
    border: none;
    background-color: #fff;
    padding-right: 3em;
    margin-left: 1.5rem;
    font-size: 1.6rem;
    background-image: url(img/icon/arrow/right.svg);
    background-repeat: no-repeat;
    background-position: top right;
    transition: all .8s ease-in-out;
    padding-bottom: 2rem;
}
@media (min-width: 48rem) {
    section:nth-of-type(2) > button:first-of-type{
        margin-left: 4rem;  
    }
}
@media (min-width: 62rem) {
    section:nth-of-type(2) > button:first-of-type {
        display: none;
    }

}

section:nth-of-type(2) > button:first-of-type::after {
    content: "";
    position: absolute;
    bottom: 1.7rem;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
}

.terug {
    position: absolute;
    left: -50rem;
    transition: all 0 0 ease-in-out;
}

.showterug {
    z-index: 9999;
    position: absolute;
    top: 4rem;
    left: 0;
    border: none;
    background-color: #fefaf1;
    padding-right: 0;
    background-repeat: no-repeat;
    background-image: url(img/icon/arrow/left.svg);
    background-position: left;
    padding-left: 2rem;
    margin-left: 1.5rem;
    transition: all .4s .8s ease-in-out;
}

.showform {
    position: absolute;
    display: block;
    opacity: 1;
    top: 39px;
    left: 0;
    padding-top: 4rem;
    width: 100vw;
    border-radius: 0;
}

.hide {
    display: none;
    transition: all .4s 1s ease-in-out;
}

/*======FOOTER FORMULIER=====*/
form footer:first-of-type {
    display: flex;
    justify-content: center;
    padding: 3.5rem 0;
    background-color: #F7F4F1;
    border-bottom-right-radius: 10px;
    width: 100%;
}

@media (min-width: 62em) {
    form footer:first-of-type {
        border-bottom-left-radius: 10px;
    }
}

/*=====Einde footer form=====*/
/*====Button Styling=====*/
button:hover {
    cursor: pointer;
}

.button {
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    color: #FFFFFF;
    border-style: none;
    border: 1px solid #E7772B;
    min-width: 12.5rem;
    line-height: 1.15;
    cursor: pointer;
}

.active {
    background-color: #E7772B;
    box-shadow: 0 8px 18px rgba(231, 119, 43, .3);
    transition: all .3s ease;
}

.active:hover {
    background-color: #c05e00;
}

.inactive {
    background-color: #D6CEC6;
    border-color: #D6CEC6;
}

.dark-button {
    font-weight: 700;
    background-color: #675c53;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #675c53;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    text-decoration: none;
}

/*Einde button styling*/

/*===== Inlog-veld=====*/
main.inloggen {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    height: 42.7rem;
    box-sizing: border-box;
}

main.inloggen > h1 {
    position: absolute;
    top: -9.5em;
}

main.inloggen > form {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    position: absolute;
    top: -8em;

}

main.inloggen > form > fieldset > legend {
    margin-left: 3rem;
}

main.inloggen > form div {
    width: 100%;
    position: relative;
    padding: 0 3rem;
}

main.inloggen > form > fieldset {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

main.inloggen > form > fieldset > div > label {
    font-size: 1.4rem;
    line-height: 1.15;
    font-weight: 300;
    color: #675c53;
    padding-left: 2rem;
    padding-top: 1.5rem;
    position: absolute;
    left: 3rem;
    top: 1rem;
    border: none;
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

main.inloggen input:focus-within + label {
    transform: translateY(-2.5rem);
    font-size: 1.2rem;

}

.blijfomhoog {
    transform: translateY(-2.5rem);
    font-size: 1.2rem;
    padding-top: 5px;
}

main fieldset input {
    padding-bottom: .5rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    border-style: none;
    width: 100%;
    padding-top: 2rem;
    outline: none;
}

main hr {
    height: 0;
    box-sizing: content-box;
    position: relative;
    color: #f1f1f1;
    margin: 0;
    overflow: visible;
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

main hr::before {
    content: "";
    border-bottom: 1px solid #8d857e;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    transform: scaleX(0);
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

main hr::after {
    position: absolute;
    width: 100%;
    left: 0;
    content: "";
    border-bottom: 2px solid #e7772b;
    bottom: 0;
    transform: scaleX(0);
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

main input:focus ~ hr::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    color: #e7772b;
    border-bottom: 2px solid #e7772b;
    transform: scaleX(1);
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

main input[type=text]:focus  ~ hr::after {
    content: "";
    color: #e7772b;
    border-bottom: 2px solid #e7772b;
    transform: scaleX(1);
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

main.inloggen form > a:first-of-type {
    text-decoration: none;
    width: 100%;
    margin-top: 1.9rem;
    margin-left: 3rem;
    font-weight: 700;
    font-size: 1em;
    color: #54a5dd;
    margin-bottom: 2.5rem;
}

main.inloggen .button,
.dark-button {
    margin-left: 3rem;
    margin-top: 2.5rem;

}

main.inloggen > form > footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main.inloggen > form > footer > ul {
    width: 100%;
    margin-left: 3rem;
}

main.inloggen > form > footer > ul > li {
    list-style: none;
    padding-left: 2.5rem;
    position: relative;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;

}

main.inloggen > form > footer > ul > li:before {
    display: inline-block;
    background-image: url(./img/icon/273-checkmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 4px;
}

/*====Einde inlog====*/


/*====Article Styling====*/
main {
    padding-top: 1.5rem;
    display: block;
   
    justify-content: space-between;
    background-color: #f1f1f1;
    max-width: 100vw;
}



main > h2 {
    
    padding-top: 0.83em;
   
}
@media (min-width: 48em){
    main > h2{
        max-width: 75rem;
        margin: auto;
    }
}
@media (min-width: 62rem){
    main > h2{
     margin: auto;
    max-width: 97rem;
    }
}
@media (min-width: 75rem){
    main > h2{
    max-width: 114rem;
    }
}
main > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    max-width: 117rem;
}

@media (min-width: 62rem) {
    main > ul {
        width: 97rem;
    }
}
  

article {
    max-width: 100%;
    min-width: 35rem;
    position: relative;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    margin-bottom: 3rem;
    border-radius: 10px;
    margin-right: 1.5rem;


}

@media (min-width: 48rem) {
    article {
        min-width: 35rem;
        max-width: 75rem;
    }
}

@media (min-width: 62rem) {
    article {
        min-width: 35rem;

    }
}

article img {
    width: 100%;
    height: 14em;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article > a {
    color: #000;
    text-decoration: none;
}

article > a > header {
    width: 100%;
    min-height: 10rem;
}

article > footer > ul {
    background-color: #fff;
    color: #000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 12em;
    list-style: none;

}

article > footer > ul > li {
    position: relative;
    width: 33.3%;
}

@media (min-width: 62rem) {
    article > footer > ul > li {
        font-size: 2.2rem;
    }
}

article > footer > ul > li:first-of-type:before {
    content: "";
    position: absolute;
    background-image: url(img/icon/klok.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    top: 8px;
    left: 1.5rem;

}

article > footer > ul > li:last-of-type:before {
    content: "";
    position: absolute;
    background-image: url(img/icon/thumbs-up.svg);
    background-repeat: no-repeat;
    background-position: center top 1px;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    top: 4px;
    right: 1.5rem;
}

@media (min-width: 62rem) {
    article > footer > ul > li:last-of-type:before {
        width: 3rem;
        height: 3rem;
    }
}

/*====Einde Article====*/
/*====Download animatie====*/
article > footer > ul > li > button.download::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.download {
    position: relative;
}

.download:before {
    position: absolute;
    content: "0%";
    z-index: 9999;
    top: 0;
    left: 50%;
    margin-left: -1.5rem;
    animation: percent 4s linear;
}

.download::after {
    animation: download 4s linear;

}

@keyframes percent {
    0% {
        content: "0%";
    }

    15% {
        content: "15%";
    }

    35% {
        content: "35%";
    }

    50% {
        content: "50%";
    }

    65% {
        content: "65%";
    }

    85% {
        content: "85%";
    }

    100% {
        content: "100%";
    }
}

@keyframes download {
    0% {
        width: 0%;
        background-color: #fff;
    }

    100% {
        width: 100%;
        background-color: darkorange;

    }
}

/*=====Populair carousel=====*/

section.relative {
    position: relative;
    padding-bottom: 4rem;
}

div.carous {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 3rem;
}

@media (min-width: 62rem) {
    div.carous {
        padding-left: 0;
        max-width: 117rem;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 75rem) {
    div.carous {
        max-width: 114rem;
    }
}

.carous article {
    margin: auto;
    width: 89%;
    flex-shrink: 0;
    height: 100%;
}

@media (min-width: 48rem) {
    .carous article {

        margin: auto;

    }
}

.dot-container {
    position: absolute;
    right: 1rem;
    top: -3rem;
}

.dot {
    text-indent: 9999px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover{
    background-color: #c05e00;
}
.relative > div > div:last-of-type {
    width: 100%;
    max-width: 117rem;
    margin-top: 3rem;
}

.relative > div > div > a {
    display: block;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    padding-top: 9px;
    padding-bottom: 9px;
}
@media (min-width: 48rem){
    section.relative > div > div:last-of-type{
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        }
    }

@media (min-width: 62rem){
    section.relative > div > div > a,
    section.relative h2{
        max-width: 75rem;
        margin: auto;
    }  
}
@media (min-width: 75rem){
    section.relative h2{
    max-width: 114rem;
    }
}
/*====Einde populair===*/
/*===Mijn verhalen===*/
main.mijn div {
    border-radius: 10px;
    position: absolute;
    top: 2em;
    z-index: 998;
    background-color: rgba(255, 255, 255, .8);
}

main.mijn > ul {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 62rem) {
    main.mijn > ul {
        margin: auto;
        width: 117rem;
    }
}
@media (min-width: 75rem) {
    main.mijn > ul {
        max-width: 114rem;
    }
}

main.mijn h2 {

    margin-top: 0.83em;
    margin: auto;
}

main.mijn article {
    width: 35rem;
}

/*===Einde mijn verhalen===*/

/*========Sorteer======*/

/* form#sort {
    max-width: 40em;
    background-color: #f7f7f6;
    margin-top: 3rem;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#sort img {
    height: 3em;
    width: 3em;
}

#sort > label:nth-last-child(1) {
    border-top-right-radius: 10px;
}

#sort > label:nth-child(2) {
    border-top-left-radius: 10px;
}

#sort input {
    position: absolute;
    left: -99999px;
}

form > label {
    font-weight: 700;
    display: flex;
    justify-content: center;
    background-color: #f7f7f6;
    width: 33.33%;
    height: 100%;
}

form input[type=radio]:checked + label {
    background-color: #FFFFFF;
}
 */



article > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 80px;
    padding-top: 2em;
    border: 1px solid #fbba38;
    border-radius: 4px;
    color: #fbba38;
    font-weight: 700;
    background-image: url(./img/icon/button/Bewaar-blankState.svg);
    background-repeat: no-repeat;
    background-position: top .4rem center;
    background-color: #fff;
    background-size: 2.5rem;
    transition: all 1.3s cubic-bezier(0.1, -0.6, 0.23, 2.87);

}
/* == Micro Bewaren == */
article > button:before {
    overflow: hidden;
    position: absolute;
    display: inline;
    content: "";
    top: -2rem;
    right: 0;
    opacity: 1;
    transform: rotate(30deg);
    background-image: url(./img/icon/button/Bewaar-idealState.svg);
    background-repeat: no-repeat;
    transition: all 1.3s cubic-bezier(0.1, -0.6, 0.23, 2.87), opacity 1.8s .8s ease-in-out;
}

article > button.bewaard {
    width: 80px;
    color: #fff;
    background-color: #fbba38;
    background-image: url(./img/icon/button/Bewaar-idealState.svg);
}

.bewaard:before {
    width: 3rem;
    height: 3rem;
    top: .2rem;
    right: 2.4rem;
    opacity: 0;
    transform: rotate(0deg);

}

.bewaard::after {
    content: "d";

}

/* == Einde Micro Bewaren == */
/* ===Micro vind ik leuk=== */
article > footer > ul > li:last-of-type.leuk:before {
    animation: leuk 2s linear;
    background-image: url(img/icon/duimpje-vol.svg);
    
}

@keyframes leuk {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    15% {
        transform: translate(-25px, 0px) rotate(-5deg);
        transform: scale(2);
    }

    30% {
        transform: translate(20px, 0px) rotate(3deg);
    }

    45% {
        transform: translate(-15px, 0px) rotate(-3deg);
        transform: scale(1.5);
    }

    60% {
        transform: translate(10px, 0px) rotate(2deg);
        transform: scale(2);
    }

    75% {
        transform: translate(-5px, 0px) rotate(-1deg);
        
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
/* === Einde vind ik leuk=== */
/*====Direct Naar====*/
section:nth-child(6){
    background-color: #F1F1F1;
    display: flex;
    flex-wrap: wrap;
    padding-block-end: 4rem;
}

section:nth-child(6) div >ul {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    transition: all .4s ease-in;
    padding: 2.5rem 1.5rem;
}
section:nth-child(6)>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
@media (min-width: 48rem) {
    section:nth-child(6)>div{
        min-width: 75rem;
        max-width: 97rem;
    }  
}

@media (min-width: 75rem){
    section:nth-child(6)>div{
        min-width: 97rem;
        max-width: 114rem;
        justify-content: space-between;
    }
}
section:nth-child(6)>div>div{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
}
@media (min-width: 62rem) {
    section:nth-child(6)>div>div{
        min-width: 30%;
        max-width: 50%;
    }  
}

@media (min-width: 48rem) {
    section:nth-child(6) div>ul,
    section:nth-child(6) div>h2 {
        max-width: 75rem;
        margin: auto;
        border-top-left-radius: 10px;
    }
}
@media (min-width: 75rem) {
    section::nth-child(6)> div{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 75rem) {
    section:nth-child(6) div > ul,
    section:nth-child(6) div > h2 {
    
        margin: auto;
    }
}

section:nth-child(6) > div > div > ul {
    list-style: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

section:nth-child(6) div > div > ul > li {
    width: 100%;
    margin-right: 1.5rem;
    border-bottom: 1px solid;
    border-color: rgb(241, 241, 241);
}

section:nth-child(6) div > div > ul > li > a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: #675c53;
    position: relative;
    min-width: 100%;
    padding-right: 4rem;
    display: block;
}
section:nth-child(6) div > div > ul > li > a:hover{
    text-decoration: underline;
}
section:nth-child(6) div > ul > li > a::after {
    content: "";
    position: absolute;
    top: 1rem;
    right: 0;
    line-height: 1;
    width: 16px;
    height: 16px;
    background-image: url(img/icon/arrow/right.svg);
    background-repeat: no-repeat;

}
/* ===Einde direct naar=== */
/* ===Recent toegevoegd=== */
section:nth-child(6) article{
    max-width: 75rem;
    margin: auto;
}


/*===Flip Section====*/
.flip-section {
    background-color: #f1f1f1;
    height: 20em;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
/* ===Footer Styling==== */
body > footer {
    box-shadow: inset 0 4px 12px 4px hsla(0, 0%, 95%, .5);
    background-color: #fff;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
body > footer ul{
    list-style: none;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
body > footer > ul > li{
    list-style: none;
    display: none;
}
body > footer ul > li:first-of-type{
    display: block;
    border-bottom: 1px solid rgb(227, 237, 244);
}
body > footer  a{
    display: block;
    color: #54a5dd;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}
body > footer  a:hover{
    text-decoration: underline;
}