@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; 
    background-color: #D6CEC6;
}
@media (min-width: 50em){
    body{
        height: 5500px;
    }
}
.progress-container {
  transform: rotate(90deg);
  position: absolute;
  bottom: calc(-50vh - 4px);
  left: -50vh;
  margin-left: 4px;
  width: 100vh;
  height: 8px;
  background: #ccc;
}
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
aside{
    position: relative;
    top: 80vh;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -14px;
    text-align: center;
    margin-top: 4rem;
}
.text {
  position: absolute;
  top: 5em;
  margin-left: -66px;
  font-size: 12px;
  color: #e7772b;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .3;
  animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
    to{
        opacity: 1;
        transform: scale3d(1.5,1.5,1.5);
    }
}
.pijltje{
    position: absolute;
    top: 0;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: scroll 3s ease-out infinite;
}
.pijltje:first-child {
    animation: scroll 3s ease-out 1s infinite;
}
.pijltje:nth-child(2) {
    animation: scroll 3s ease-out 2s infinite;
}
.pijltje:before,
.pijltje:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background-color: #e7772b;
}
.pijltje:before{
    left: 0;
    transform: skew(0deg, 30deg);
}
.pijltje:after{
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes scroll{
    25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.container{
    margin-top: 4rem;
}
.container-2{
    display: block;
    margin: auto;

}
@media (min-width: 50rem){
    .container-2{
        display: block;
        position: sticky;
    }
}
.titel {
  color: #D6CEC6;
  font-size: 0;
  line-height: 1;
  text-align: center;
}
div > div > span {
    font-weight: 500;
    font-size: 80px;
    display: inline-block;
    animation: move 2.5s ease-in-out infinite;
    
}
@media (min-width: 62em) {
   div > div > span {
        font-size: 120px;
    }
}
/*===Delay voor de verschillende letters===*/
/*===Eerste letter heeft geen delay nodig==*/

span:nth-child(2) { animation-delay: 0.5s; } 
span:nth-child(3) { animation-delay: 1.0s; }
span:nth-child(4) { animation-delay: 1.5s; }
span:nth-child(5) { animation-delay: 2.0s; }
/*===Animatie value's voor move===*/
@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }
  50% {
      opacity: 0.5;
      color: #FFF;
    text-shadow: 0 15px 40px rgba(103,92,83,.3);
  }
  100% {
    transform: translate(33%, 0);
  }
}
p{
    max-width: 70rem;
    padding: 1em;
    font-family: 'Special Elite', cursive;
    margin: 1.5em;
    transition: opacity .80s ease-in-out;
    background-color: rgba(255,255,255,0.4);
}
@media only screen and (min-width: 500px){
    p{
        max-width: 80%;
        position: fixed;
        top: 3em;
        left: 50%;
        margin-left:-40%;
        
    }
}

.verstop{
    opacity: 0;
}

#vierde{
    margin-bottom: 15rem;
}
footer#verhaal{
    z-index: 99;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
footer button{
    font-size: 1.6rem;
    font-weight: 700;
    border-style: none;
    text-indent: -999px;
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #E7772B;
    box-shadow: 0 8px 18px rgba(231, 119, 43, .3);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
footer button:first-of-type{
    background-image: url(./img/icon/Ster.svg);

}
footer button:last-of-type{
    background-image: url(./img/icon/thumbs-up.svg);
    
}