@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Special+Elite');
body{
    margin: 0;
    padding: 0;
    background-image: url(img/Eurotium-ascomata-conidiophoor.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Cabin Sketch', cursive;
font-family: 'Special Elite', cursive; 
    height: 1600px;
    background-color: #fff;
}
h1{ 
    color: #FFFFFF;
    position: fixed;
    left: 10%;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 4em;
    transition: opacity 1.5s ease-in-out;
    
    
}
p{
    padding: 1em;
    font-family: 'Special Elite', cursive;
    margin: 1.5em;
    transition: opacity .80s ease-in-out;
    background-color: rgba(255,255,255,0.4);
}
@media only screen and (min-width: 600px){
    p{
        position: fixed;
        top: 5em;
    }
    h1 {
        left: 30%;
    }
}
.show{
    display:block;
}
.hide{
    opacity: 0;
}
.ronder{
    position: fixed;
    top: 8em; 
    right: 0.1em;
}
footer#verhaal{
    z-index: 99;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
footer button{
    font-size: 1.6rem;
    font-weight: 700;
    border-style: none;
    text-indent: -999px;
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #E7772B;
    box-shadow: 0 8px 18px rgba(231, 119, 43, .3);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
footer button:first-of-type{
    background-image: url(./img/icon/Ster.svg);

}
footer button:last-of-type{
    background-image: url(./img/icon/thumbs-up.svg);
    
}